@charset "utf-8";

html, body {
    font-family: 'Arial', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, white, black);
}
.main-content{
    min-height: 100%;
    position: relative;
    padding-bottom: 150px;
}
header{
    display: flex;
    background-color:black;
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:80px;
    align-items: center;
    z-index: 1001;
}
header h1{
    display: flex;
    color: white;
    padding-left: 10px;
    font-size: 40px;
    cursor: pointer;
}
.menu-list{
    display: flex;
    cursor: pointer;
}
.menu{
    color: white;
    font-size: 20px;
    font-weight:bold;
    list-style:none;/*リストの点を消す*/
    margin-right:30px;
}
.menu:hover{
    transform: scale(1.05);
}
.profile{
    background-color: white;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width:48%;
    margin-top: 90px;
    margin-left: 10px;
    border: 2px solid black ;
}
.profile img{
    width: 30%;
    height: 30%;
    margin:10px;
}
.profile p{
    font-weight: bold;
}
.name{
    position: relative;
    top:-50px;
    padding:0;
    font-size: 60px;
}
.profile-info{
    font-size:20px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
}
.certifications{
    background-color: white;
    border: 2px solid black ;
    position: absolute;
    margin-left: 10px;
    left:50%;
    top:0;
    width: 48%;
}
.certifications p{
    margin-left: 5px;
    font-weight: bold;
    font-size: 20px;
}
.certifications ul{
    margin-top: 0;
    padding-top: 20px;
    list-style: none;
}
.certifications li{
    padding-bottom: 30px;
}


footer {
    position: absolute;
    background-color: black;
    bottom:0;
    left: 0;
    width: 100%;
    height: 150px;
    color: white;
    font-weight: bold;
}
.contact-me{
    padding-top:5px;
    padding-left: 5px;
}

.footer-contact {
    display: flex;
    padding-left: 10px;
    margin-bottom: 3px;
}

.footer-contact img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.footer-contact p {
    margin: 0;
}

@media screen and (max-width:700px) {
	/* 700px以下に適用されるCSS（スマホ用） */


    html, body {
        position:relative;
        font-family: 'Arial', sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background: linear-gradient(to right, white, black);
    }
    .main-content{
        min-height: 100%;
        position: relative;
        padding-bottom: 350px;
    }
    header{
        display: flex;
        background-color:black;
        position:fixed;
        top: 0;
        left: 0;
        width:100%;
        height:80px;
        align-items: center;
        z-index: 1001;
    }
    header h1{
        display: flex;
        color: white;
        padding-left: 10px;
        font-size: 40px;
        cursor: pointer;
    }
    .menu-list{
        display: flex;
        cursor: pointer;
    }
    .menu{
        color: white;
        font-size: 20px;
        font-weight:bold;
        list-style:none;/*リストの点を消す*/
        margin-right:30px;
    }
    .menu:hover{
        transform: scale(1.05);
    }
    
    .profile{
        background-color: white;
        display: flex;
        position:relative;
        margin:90px 10px 10px 10px;
        border: 2px solid black ;
        padding:5px;
    }
    .profile img{
        width: 30%;
        height: 30%;
        margin:10px;
    }
    .profile p{
        font-weight: bold;
    }
    .name{
        position: relative;
        top:-50px;
        padding:0;
        font-size: 55px;
    }
    .profile-info{
        font-size:20px;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-right: 10px;
    }
    .certifications{
        background-color: white;
        border: 2px solid black ;
        padding:10px;
        margin:10px;
    }
    .certifications p{
        margin-left: 5px;
        font-weight: bold;
        font-size: 20px;
    }
    .certifications ul{
        margin-top: 0;
        padding-top: 20px;
        list-style: none;
    }
    .certifications li{
        padding-bottom: 30px;
    }


    footer {
        position: relative;
        background-color: black;
        bottom:0;
        width: 100%;
        height:150px;
        color: white;
        font-weight: bold;
        z-index: 10;
    }
    .contact-me{
        padding-top:5px;
        padding-left: 5px;
    }

    .footer-contact {
        display: flex;
        padding-left: 10px;
        margin-bottom: 3px;
    }

    .footer-contact img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .footer-contact p {
        margin: 0;
    }
}

